doctype 5
html(lang="en")
	include includes/head
	body
		h1 Fantasy JIRA
		p
			if user
				p
					|Welcome to Fantasy JIRA,
					= ' ' + user.name
				p#message Loading, please wait...
			else
				|Please 
				a(href="/login") login
				= ' to JIRA Heroes'
		include includes/footer
